<div class="wrapper">
    <div class="box">
        <div class="left">
            <div class="main" *ngIf="!showLogin">
                <h2>Sign Up</h2>
                <form #userSignUp="ngForm"  (ngSubmit)="signUp(userSignUp.value)" class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>name</mat-label>
                        <input type="text" matInput name="name" ngModel placeholder="name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput name="email" ngModel placeholder="Ex. pat@example.com">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput name="password" ngModel placeholder="123456">
                    </mat-form-field>
                    <button mat-raised-button class="btn" style="background-color: black;color: white;">Sign Up</button>
                    <p>Already Have Account ? <a (click)="changeForm()">Click here</a></p>
                </form>
            </div>

            <div class="main" *ngIf="showLogin">
                <h2>User Login</h2>
                <form #userlogin="ngForm"  (ngSubmit)="login(userlogin.value)"  class="example-form">
                    <p class="error-p">{{authError}}</p>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput #email="ngModel" email required name="email" ngModel placeholder="Ex. pat@example.com">
                        <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter valid Input</span></p>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput #password="ngModel" required name="password" ngModel placeholder="123456">
                        <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter valid Input</span></p>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="userlogin.invalid" class="btn" style="background-color: black;color: white;">Login Up</button>
                    <p>Want Create  Account ? <a (click)="changeForm()">Click Here</a></p>
                </form>
            </div>
        </div>
        <!-- ----------right-------------- -->
        <div class="right">
            <div class="dummy">
                <img src="/assets/dumm pic m -1.png">
            </div>
            <h1>WelCome To The</h1>
            <div class="logo">
                <img src="/assets/Screenshot_2023-10-08_193839-removebg-preview.png">
            </div>
            <div class="social">
                <div><i class="fa-brands fa-google" style="color: #18ec62;"></i></div>
                <div><i class="fa-brands fa-facebook" style="color: #0d61f2;"></i></div>
            </div>
        </div>
    </div>
</div>

