<div class="cart-page">
    <h1>Shopping Cart</h1>
    <div class="row">
        <div class="table">
            <div class="card" *ngFor="let cart of cartData">
                <mat-checkbox [(ngModel)]="cart.selected" (change)="checkItem(cart)"></mat-checkbox>
                <div class="photo">
                    <div class="fix"><img src="{{cart.image}}"></div>
                </div>
                <div class="details">
                    <h2>{{cart.name | titlecase}}</h2>
                    <h3>{{cart.description | titlecase}}</h3>
                    <P>Great Indian Festival</P>
                    <h4>Price : {{ cart.price | currency: 'INR': 'symbol':'1.0-0'}}</h4>
                    <h4>Color : {{cart.color}}</h4>
                    <div class="quantity">
                        <h4>Quantity : </h4>
                        <button (click)="decrease(cart)">-</button>
                        <input type="text" [(ngModel)]="cart.quantity">
                        <button (click)="increase(cart)">+</button>
                    </div>
                    <button mat-raised-button (click)="removeToCart(cart.id)" matTooltip="Delete From Cart"
                    aria-label="Button that displays a tooltip when focused or hovered over">Delete</button>
                </div>
            </div>
        </div>
        <div class="summary">
            <div class="calculate">
                <h2>Price Details</h2>
                <div class="detail">
                    <h3>Apply Coupons</h3>
                    <button>Apply</button>
                </div>
                <ul>
                    <li><span>Amount</span><span>{{priceSummary.price | currency: 'INR': 'symbol':'1.0-0'}}</span></li>
                    <li style="color: rgb(255, 63, 108);"><span>Tax</span><span>{{priceSummary.tax | currency: 'INR': 'symbol':'1.0-0'}}</span></li>
                    <li><span>Delivery</span><span>{{priceSummary.delivery | currency: 'INR': 'symbol':'1.0-0'}}</span></li>
                    <li style="border-bottom: 1px solid #ddd; padding-bottom: 15px;color: green;"><span>Discount</span><span>-{{priceSummary.discount | currency: 'INR': 'symbol':'1.0-0'}}</span></li>
                    <li style="padding-top: 15px;"><span>Total</span><span>{{priceSummary.total | currency: 'INR': 'symbol':'1.0-0'}}</span></li>
                    <button (click)="checkout()" class="checkout" > Checkout </button>
                </ul>
            </div>
        </div>
    </div>
</div>