<div class="containers">
    <ul>
      <li class="category">
        <h2>Category</h2>
        <div class="menu">
          <div class="box">
            <div class="pic">
              <a routerLink="shop/men"><img src="/assets/img/p1.jpg"></a>
            </div><h4>Men</h4>
          </div>
          <div class="box">
            <div class="pic">
              <a routerLink="shop/women"><img src="/assets/img/p2.jpg"></a>
            </div><h4>Women</h4>
          </div>
          <div class="box">
            <div class="pic">
              <a routerLink="shop/accesories"><img src="/assets/img/p3.jpg"></a>
            </div><h4>Accesories</h4>
          </div>
          <div class="box">
            <div class="pic">
              <a routerLink="shop/mobiles"><img src="/assets/img/p4.jpg"></a>
            </div><h4>Mobiles</h4>
          </div>
        </div>
      </li>
      <!-- ----------Men---------- -->
      <li class="category1">
        <h2><a routerLink="shop/men">Men</a></h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Topwear</h4>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Casual Shirts</a></li>
              <li><a href="#">Formal Shirts</a></li>
              <li><a href="#">Sweatshirts</a></li>
              <li><a href="#">Jackets</a></li>
            </ul>
            <ul>
              <h4>Indian & Festive Wear</h4>
              <li><a href="#">Kurta & Kurta Sets</a></li>
              <li><a href="#">Sherwanis</a></li>
              <li><a href="#">Nehru Jackets</a></li>
              <li><a href="#">Dhotis</a></li>
              <li><a href="#">Sneakers</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Bottomwear</h4>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Casual Trousers</a></li>
              <li><a href="#">Formal Trousers</a></li>
              <li><a href="#">Shorts</a></li>
              <li><a href="#">Track Pants & Joggers</a></li>
            </ul>
            <ul>
              <h4>Innerwear & Sleepwear</h4>
              <li><a href="#">Briefs & Trunks</a></li>
              <li><a href="#">Boxers</a></li>
              <li><a href="#">Vests</a></li>
              <li><a href="#">Sleepwear & Loungewear</a></li>
              <li><a href="#">Thermals</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Footwear</h4>
              <li><a href="#">Casual Shoes</a></li>
              <li><a href="#">Sports Shoes</a></li>
              <li><a href="#">Formal Shoes</a></li>
              <li><a href="#">Sneakers</a></li>
              <li><a href="#">Sneakers</a></li>
              <li><a href="#">Sandals & Floaters</a></li>
              <li><a href="#">Flip Flops</a></li>
              <li><a href="#">Socks</a></li>
              <li><a href="#">Stud</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic1"><img src="/assets/img/p1.jpg"></div>
          </div>
        </div>
      </li>
      <!-- -------------women------------------ -->
      <li class="category1">
        <h2><a routerLink="shop/women">Women</a></h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Indian & Fusion Wear</h4>
              <li><a href="#">Kurtas & Suits</a></li>
              <li><a href="#">Kurtis, Tunics & Tops</a></li>
              <li><a href="#">Sarees</a></li>
              <li><a href="#">Ethnic,Salwars</a></li>
              <li><a href="#">Dess Material</a></li>
            </ul>
            <ul>
              <h4>Western Wear</h4>
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Tops</a></li>
              <li><a href="#">Tshirts</a></li>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Trousers</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Footwear</h4>
              <li><a href="#">Flats</a></li>
              <li><a href="#">Casual Shoes</a></li>
              <li><a href="#">Heels</a></li>
              <li><a href="#">Boots</a></li>
              <li><a href="#">Floaters & Shoes</a></li>
            </ul>
            <ul>
              <h4>Jewellery</h4>
              <li><a href="#">Fashion Jewellery</a></li>
              <li><a href="#">Fine Jewellery</a></li>
              <li><a href="#">Earrings</a></li>
              <li><a href="#">Jewellery</a></li>
              <li><a href="#">New Jewellery</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Gadgets</h4>
              <li><a href="#">Smart Wearables</a></li>
              <li><a href="#">Fitness Gadgets</a></li>
              <li><a href="#">Headphones</a></li>
              <li><a href="#">Speakers</a></li>
              <li><a href="#">Makeup</a></li>
              <li><a href="#">Skincare</a></li>
              <li><a href="#">Lipsticks</a></li>
              <li><a href="#">Fragrances</a></li>
              <li><a href="#">Premium Beauty</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic4"><img src="/assets/img/shop1.jpg"></div>
          </div>
        </div>
      </li>
       <!-- ------------Mobiles------------- -->
      <li class="category1">
        <h2><a routerLink="shop/mobiles">Mobiles</a></h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Apple Iphone</h4>
              <li><a href="#">iphone 14 Pro max</a></li>
              <li><a href="#">iphone 14 pro</a></li>
              <li><a href="#">iphone 13 mini</a></li>
              <li><a href="#">iphone 13 pro</a></li>
              <li><a href="#">iphone 13</a></li>
            </ul>
            <ul>
              <h4>Redmi</h4>
              <li><a href="#">Redmi 12C</a></li>
              <li><a href="#">Redmi Note 12</a></li>
              <li><a href="#">Redmi 12 5G</a></li>
              <li><a href="#">Redmi A2</a></li>
              <li><a href="#">Redmi Note12</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Samsung</h4>
              <li><a href="#">Samsung Galaxy M04</a></li>
              <li><a href="#">Samsung Galaxy M13</a></li>
              <li><a href="#">Samsung Galaxy m34</a></li>
              <li><a href="#">Samsung Galaxy M14</a></li>
              <li><a href="#">Samsung Galaxy A21</a></li>
            </ul>
            <ul>
              <h4>Oppo</h4>
              <li><a href="#">Oppo A79 5G</a></li>
              <li><a href="#">Oppo A18</a></li>
              <li><a href="#">Oppo A58 Red</a></li>
              <li><a href="#">Oppo F23</a></li>
              <li><a href="#">Oppo F15 Unique</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Samsung</h4>
              <li><a href="#">Samsung Galaxy M04</a></li>
              <li><a href="#">Samsung Galaxy M13</a></li>
              <li><a href="#">Samsung Galaxy m34</a></li>
              <li><a href="#">Samsung Galaxy m34</a></li>
              <li><a href="#">Samsung Galaxy m34</a></li>
              <li><a href="#">Samsung Galaxy m34</a></li>
              <li><a href="#">Samsung Galaxy M14</a></li>
              <li><a href="#">Samsung Galaxy A21</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic4"><img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-14-pro-max-1.jpg"></div>
          </div>
        </div>
      </li>
       <!-- ------------Home & living ------------- -->
      <li class="category1">
        <h2>Home & Living</h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Bed Linen & Furnshing</h4>
              <li><a href="#">Bed Runners</a></li>
              <li><a href="#">Mattress Protectors</a></li>
              <li><a href="#">Bedsheets</a></li>
              <li><a href="#">Bedding Sets</a></li>
              <li><a href="#">Dilwan Sets</a></li>
            </ul>
            <ul>
              <h4>Flooring</h4>
              <li><a href="#">Floor Runnrers</a></li>
              <li><a href="#">Carpets</a></li>
              <li><a href="#">Floor Mats & Dhurries</a></li>
              <li><a href="#">Door Mats</a></li>
              <li><a href="#">Runners</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Bath</h4>
              <li><a href="#">Bath Towels</a></li>
              <li><a href="#">Hand & Face Towels</a></li>
              <li><a href="#">Beach Towels</a></li>
              <li><a href="#">Towels Set</a></li>
              <li><a href="#">Shower Curtains</a></li>
            </ul>
            <ul>
              <h4>Lamps & Lighting</h4>
              <li><a href="#">Floor Lamps</a></li>
              <li><a href="#">Ceiling Lamps</a></li>
              <li><a href="#">Table Lamps</a></li>
              <li><a href="#">Wall Lamps</a></li>
              <li><a href="#">Outdoor Lamps</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Kitchen</h4>
              <li><a href="#">Table Runners</a></li>
              <li><a href="#">Dinnerware & Serveware</a></li>
              <li><a href="#">Cups and Mugs</a></li>
              <li><a href="#">Bakeware & Cookware</a></li>
              <li><a href="#">Bar & D rinkware</a></li>
              <li><a href="#">Table covers</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic4"><img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/24775140/2023/9/2/e12ed30f-a5fa-42c9-94a3-0a3d01a750961693599887425CurtainsandSheers1.jpg"></div>
          </div>
        </div>
      </li>
      <!-- ------------Beauty------------- -->
      <li class="category1">
        <h2>Beauty</h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Makeup</h4>
              <li><a href="#">Lipstick</a></li>
              <li><a href="#">Lip Gloss</a></li>
              <li><a href="#">Foundation</a></li>
              <li><a href="#">Mascara</a></li>
              <li><a href="#">Primer</a></li>
            </ul>
            <ul>
              <h4>Skincare, Bath & Body</h4>
              <li><a href="#">Cleanser</a></li>
              <li><a href="#">Maks & Peel</a></li>
              <li><a href="#">Sunscreen</a></li>
              <li><a href="#">Serum</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Haircase & Beauty Gifts</h4>
              <li><a href="#">HairCare</a></li>
              <li><a href="#">Shapoo</a></li>
              <li><a href="#">Conditioner</a></li>
              <li><a href="#">Hair Cream</a></li>
              <li><a href="#">Hair gel</a></li>
            </ul>
            <ul>
              <h4>Fragances & Appliances</h4>
              <li><a href="#">Perume</a></li>
              <li><a href="#">Derdorant</a></li>
              <li><a href="#">Body Mist</a></li>
              <li><a href="#">Hair Druer</a></li>
              <li><a href="#">Premium</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Top Brands</h4>
              <li><a href="#">Lakme</a></li>
              <li><a href="#">Maybeline</a></li>
              <li><a href="#">loreal</a></li>
              <li><a href="#">Philip</a></li>
              <li><a href="#">Biotique</a></li>
              <li><a href="#">Mamaearth</a></li>
              <li><a href="#">MCaffeinr</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic4"><img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/6011912/2023/10/6/ae784a30-03f6-42fa-8210-0b0411d9ae491696577207279RoadsterWomenBlackColourblockSweatshirt1.jpg"></div>
          </div>
        </div>
      </li>
      <!-- ------------kids------------- -->
      <li class="category1">
        <h2>Kids</h2>
        <div class="menu1">
          <div class="menu-item">
            <ul>
              <h4>Boys Clothing</h4>
              <li><a href="#">T-shirts</a></li>
              <li><a href="#">Clothing Sets</a></li>
              <li><a href="#">Ehnic Wear</a></li>
              <li><a href="#">Part Wear</a></li>
            </ul>
            <ul>
              <h4>Girls Clothing</h4>
              <li><a href="#">Dresses</a></li>
              <li><a href="#">Tops</a></li>
              <li><a href="#">Kurts Sets</a></li>
              <li><a href="#">Skirts & Shorts</a></li>
              <li><a href="#">Value Packs</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Toys & Games</h4>
              <li><a href="#">Learning & Development</a></li>
              <li><a href="#">Activity Toys</a></li>
              <li><a href="#">Soft Toys</a></li>
              <li><a href="#">Action Figure</a></li>
              <li><a href="#">Action Figure</a></li>
            </ul>
            <ul>
              <h4>Footwear</h4>
              <li><a href="#">Casual Shoes</a></li>
              <li><a href="#">Flipflops</a></li>
              <li><a href="#">Sports Shoes</a></li>
              <li><a href="#">Sandals</a></li>
              <li><a href="#">School Shoes</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <ul>
              <h4>Clothing Boys & Girls</h4>
              <li><a href="#">Casual Shoes</a></li>
              <li><a href="#">Jackets, Sweater</a></li>
              <li><a href="#">Sports Shoes</a></li>
              <li><a href="#">Part Wear</a></li>
              <li><a href="#">School Shoes</a></li>
            </ul>
          </div>
          <div class="menu-item">
            <div class="pic4"><img src="https://assets.myntassets.com/w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2020/11/9/efc4b19d-179f-4437-961c-839df50299a51604906586690-36-Essentials-Night_innerwear.jpg"></div>
          </div>
        </div>
      </li>
    </ul>
</div>