.product-image {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.product-color {
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.product-details {
    height: auto;
    font-family: 'Cormorant Garamond', serif;
    /* border: 2px solid red; */
    padding: 60px 0px;
    width: 100%;
}
h1,h3, h5, h6 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
}
strong{
    color: green;
}
.quantity-group {
    margin-top: 20px;
}
.quantity-group button{
    padding: 10px;
}
.quantity-group input {
    width: 130px;
    padding: -2px;
    font-size: 30px;
    height: 50px;
    text-align: center;
}
.product-details h1 {
    font-size: 30px;
    font-weight: 900;
}
.mat-mdc-raised-button.mat-unthemed  {
    background: black;
    color: white;
    border-radius: 4;
    margin-right: 5px;
}

.mat-mdc-raised-button.mat-unthemed:hover  {
    background-color: white;
    color: black;
    border: 1px solid black;
} 