<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <img class="product-image" src="{{productData.image}}" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name | titlecase}}</h1>
            <h3>Price : <strong>{{productData.price | currency:'INR':true:'1.0-0' }}</strong></h3>
            <div>
                <h6>Color:</h6>
                <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
            </div>
            <h6>Category: {{productData.category}}</h6>
            <h6>Description: {{productData.description}}</h6>
            <button mat-raised-button class="form-button">Buy Now</button>
            <button mat-raised-button *ngIf="!removeCart" class="form-button" (click)="AddToCart()">Add To Cart</button>
            <button mat-raised-button *ngIf="removeCart" class="form-button" (click)="removeToCart(productData.id)">Remove To Cart</button>
        </div>
    </div>
</div>

<ng-container *ngIf="relatedProducts && relatedProducts.length > 0">
  <app-related-products [childProducts]="relatedProducts"></app-related-products>
</ng-container>