<div class="wrapper">
    
    <mat-progress-bar *ngIf="show"  mode="determinate" [value]="progressBarValue"></mat-progress-bar>
    <h1>Delivery Address</h1>
    <div class="main">
        <div class="left">
            <form>
                <h2 style="color: green;">{{orderMsg }}</h2>
                <form [formGroup]="orderForm" (ngSubmit)="orderNow()" class="form">
                    <mat-form-field>
                        <mat-label>Full Name</mat-label>
                        <input type="name" matInput formControlName="name"  placeholder="Ente user email">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ente user email">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input type="text" matInput formControlName="address" placeholder="Ente user address">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Contact</mat-label>
                        <input type="text" matInput formControlName="contact" placeholder="Ente contact details">
                    </mat-form-field><br>
                    <button mat-raised-button class="btn" style="background-color: rgb(238, 201, 132)">Order Now</button><br><br>
                </form>
                <button mat-raised-button class="btn" style="background-color: rgb(78, 185, 239);" (click)="payNow(orderForm.value)">Pay amount</button> <br><br>
            </form>
        </div>
        <div class="right">
            <h2>DELIVERY ESTIMATES</h2>
            <div class="products" *ngFor="let item of orderProduct">
                <div class="im"><img src="{{item.image}}"></div>
                <h3> Estimated delivery by 2023</h3>
            </div>
            <h3> PRICE DETAILS (<strong>{{length}}</strong> items)</h3>
            <div class="summery">
                <h4>Total</h4>
                <h4 style="color: green;">{{ totalPrice | currency: 'INR': 'symbol':'1.0-0' }}</h4>
            </div>
        </div>
    </div>
</div>