<section>
    <h1 class="name">Related products with free delivery on eligible orders</h1>
    <div class="row1">
        <div class="card" *ngFor="let item of childProducts">
            <div class="image">
                <a routerLink="/details/{{item.id}}"><img src="{{item.image}}"></a>
            </div>
            <div class="offer">
                <h4>Up to 25% off</h4>
                <p>Great Indian Festival</p>
            </div>
            <h2>Name: {{item.name | titlecase}}</h2>
            <h3>Price : {{item.price | currency:'INR':true:'1.0-0'}}</h3>
            <h5><strong id="des">Description : </strong>{{item.description | slice:0:55}}</h5>
            <div class="row2">
                <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>