<section class="wrapper">
    <mat-toolbar class="footer">
        <div class="row">
            <h1>E-COMM</h1>
            <P>Lorem ipsum dolor sit amet <br>
            consectetur adipisicing elit. <br>
            Quo fugiat sequi eum <br>
            voluptatibus modi veniam.</P>
        </div>
        <div class="row">
            <h1>customer care</h1>
            <p>Need help? We’re always here for <br> you, and ready to help.</p>
            <p>E: info@example.com <br>
              P: +1 234 567 890 <br>
              A: 123 Fifth Avenue,<br>
              New York,NY 10160</p>
        </div>
        <div class="row">
            <h1>Follow us</h1>
            <ul>
                <li><mat-icon>facebook</mat-icon><p>Facebook</p></li>
                <li><i class="fa-brands fa-instagram"></i><p>Instagram</p></li>
                <li><i class="fa-brands fa-youtube"></i><p>Youtube</p></li>
                <li><i class="fa-brands fa-pinterest"></i><p>Pinterest</p></li>
                <li><i class="fa-brands fa-twitter"></i><p>Twitter</p></li>
            </ul>
        </div>
        <div class="row">
            <h1>useful links</h1>
            <ul>
                <li>Return & Exchange</li>
                <li>FAQ</li>
                <li>Shipping Information</li>
                <li>Affiliates</li>
                <li>Wholesale</li>
            </ul>
        </div>
</mat-toolbar>
</section>